    *{
        margin: 0;
        padding: 0;
        }
    header{
        background-color: rgb(0, 162, 255); 
    }

    main{
    background-color:  rgb(0, 162, 255);
    
    }
    nav{
        background-color: rgb(0, 162, 255);
        height: 35px;
        
    }
    ul{
        color: aquamarine;
        display: flex;
        justify-content: center;
        gap: 50px;
        list-style-type: none;
    }
    
    h1{
        height: 100px;
    }
    #charmander{
        background-color: red;
        height: 700px;
    }
    #bulbasaur{
        background-color: green;
        height: 700px;
    }
    #squirtle{
        background-color: blue;
        height: 700px;
    }
    #pikachu{
        background-color: yellow;
        height: 700px;
    }
    .logotipo{
        width: 100px;
    }
    .menu a{
        text-decoration: none;
    }
    p{ 
        font-size: 30px;
    }
    body{
        text-align: center;
    }
    .menu a:hover{
        text-decoration-line: underline;
    }
    .texto_1{
        background-color: rgb(163, 29, 29) ;
        margin: 0 50px 0 50px;
        padding: 20px;
        border-radius: 10px;
        transition: 0.4s;
    }
   .texto_1:hover{
        background-color: rgb(92, 1, 1);
   }
    .texto_1 p{
        /* border: solid red 2px
    }