    *{
        margin: 0;
        padding: 0;
        }
    header{
        background-color: rgb(0, 162, 255); 
    }

    main{
    background-color:  rgb(0, 162, 255);
    
    }
    nav{
        background-color: rgb(0, 162, 255);
        height: 35px;
        
    }
    ul{
        color: aquamarine;
        display: flex;
        justify-content: center;
        gap: 50px;
        list-style-type: none;
    }
    
    h1{
        height: 100px;
    }
    #charmander{
        background-color: red;  
    }
    #bulbasaur{
        background-color: green;
    }
    #squirtle{
        background-color: blue;
    }
    #pikachu{
        background-color: yellow;
    }
    .logotipo{
        width: 100px;
    }
    .menu a{
        text-decoration: none;
    }
    p{ 
        font-size: 30px;
    }
    body{
        text-align: center;
    }
    .menu a:hover{
        text-decoration-line: underline;
    }
    .texto_1{
        background-color: red ;
        margin: 0 50px 0 50px;
        padding: 20px;
        border-radius: 10px;
        transition: 0.4s;
    }
   .texto_1:hover{
        background-color: rgb(92, 1, 1);
   }
   .texto_2{
    background-color: green ;
    margin: 0 50px 0 50px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
}
.texto_2:hover{
    background-color: rgb(1, 43, 1);
}
.texto_3{
    background-color: blue ;
    margin: 0 50px 0 50px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
}
.texto_3:hover{
    background-color: rgb(20, 0, 92);
}
.texto_4{
    background-color: yellow ;
    margin: 0 50px 0 50px;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s;
}
.texto_4:hover{
    background-color: rgb(110, 110, 0);
}