    header{
        background-color: rgb(0, 162, 255); 
        height: 70px;
    }

    main{
    background-color:  rgb(0, 162, 255);
    
    }
    nav{
        background-color: rgb(0, 162, 255);
        height: 35px;
        
    }
    *{
    margin: 0;
    padding: 0;
    }
    ul{
        color: aquamarine;
        display: flex;
        justify-content: center;
        gap: 50px;
        list-style-type: none;
    }
    
    h1{
        height: 100px;
    }
    #produtos{
        background-color: rgb(255, 0, 0);
        height: 700px;
    }
    #real{
        background-color: rgb(255, 0, 0);
        height: 700px;
    }
    #historia{
        background-color: rgb(255, 0, 0);
        height: 700px;
    }
    #cadastro{
        background-color: rgb(255, 0, 0);
        height: 700px;
    }
    .logotipo{
        width: 100px;
    }